.main {
  flex: 1;
  padding: 2rem 5%;
  margin: 0 auto;
  width: 100%;

 background: linear-gradient(-45deg,
  var(--bg-darkest),
  #2a2a2a,
  #3a0a0a,
  var(--bg-dark),
  #2a2a2a);
  background-size: 400% 400%;
  animation: subtleGradientShift 20s ease infinite;
}

@keyframes subtleGradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
